$text: #000000;
$shadow: #535353;
$background: #f7f9f9;
$cardBackground: #dee0e0;
$selected: #2fcc9e;
$alternate: #1c5d99;
$warning: #e36397;

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $background;
    color: $text;
}
.App {

    .navbar {
        border-bottom: 1px solid $cardBackground;
        .navbar-brand {
            font-size: 2rem;
        }
        .navbar-nav {
            margin:0 auto;
            text-align: center;
    
            .nav-link {
                color: $text;
                font-size: .8rem;
                padding: .5rem 1rem;
            }
            .nav-link:hover {
                color: $selected;
            }
        }
    }
    .carousel-comp {
        .gallery-picture {
            border: 1px solid $shadow;
        }
        .carousel-container {
            position: relative;
            .gallery-name {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                transform: translateX(-50%);
                background: rgba(222, 224, 224, 0.4);
                padding: 5px 10px 0 10px;
                text-align: center;
                font-size: 2rem;
                width: 80%;
                max-width: 100%;
            }
            .back-button {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: transparent;
                border: none;
                font-size: 2rem;
                text-shadow: 2px 2px 8px $shadow;
                padding: 10px 10px 0 10px;
            }
            .next-button {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: transparent;
                border: none;
                font-size: 2rem;
                text-shadow: 2px 2px 8px $shadow;
                padding: 10px 10px 0 10px;
            }
            .dot-group {
                text-align: center;
                font-size: 1rem;
                margin-bottom: 1rem;
                .carousel__dot {
                    border: 2px solid $selected;
                    border-radius: 50%;              
                    font-size: 1rem;
                    padding: 10px;
                    background-color: $background;
                    margin: .5rem;
                    opacity: .4;
                }
                .carousel__dot--selected {
                    border-color:2px solid $selected;
                    background-color: $selected;
                    color: $selected;
                    opacity: .8;
                }
                
            }
        }
    }
    .gallery-page {
        padding: 4rem .5rem;
        .gallery-title{
            font-size: 3.5rem;
            text-transform: capitalize;
            text-decoration: underline;
        }
        
    }

    .footer {
        .green-text {
            color: $selected;
            font-weight: bold;
        }
    }
     

}

